div.TeamPage > table.Tasks {
  border: 1px solid black;
  grid-column: 1/2;
  grid-row:6;
  overflow-y: scroll;
}

table.Tasks td{
  background: lightseagreen;
  border: 1px solid black;
  border-radius: 6px;
}

table.Tasks td.TasksHead{
  position: sticky;
  top: 0;
  background: lightblue;
  border: 1px solid black;
  border-radius: 2px;
  height: 10%;
}



