div.viewport > div.UserData {
  width: inherit;
  height: inherit;
  position: absolute;
  background: wheat;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 5%);
  grid-template-rows: repeat(auto-fill, 5%);
  grid-gap: 0;
  grid-auto-flow: dense;
}

div.UserData > table.UserData{
  grid-row: 6/20;
  grid-column: 2/20;
  display: block;
  overflow: scroll;
  border: 1px black;

}

table.UserData th{
  position: sticky;
  top: 0;
  border: 1px black;
  background: gray;
}

table.UserData td{
  border: black;
  background: white;
}
