#TeamPage > table.Chat {
  border: 1px solid black;
  grid-column: 2/4;
  grid-row:  3/5;

  display: block;
  overflow-x: auto;
  scroll-behavior: smooth;

  background: wheat;

}

table.Chat td{
  background: pink;
  border: 1px solid black;
  border-radius: 6px;
  width: 1%;

}

table.Chat td.ChatHead{
  position: sticky;
  top: 0;
  background: lightblue;
  border-radius: 2px;
}

table.Chat td.TypeHere{
  background: lightblue;
  border-radius: 2px;
}

table.Chat td.TypeHere > input.TypeHere{
  background: aliceblue;
  border-radius: 2px;
  width: 90%;
}
